:root {
    --main-border: 1px solid #98A0A6;
    --white: #ffffff;
    --gray: #98A0A6;
    --red:  #e63946;
    --black: #081621;
    --darkgray: #606060;
}

* {
    font-family: 'Roboto', sans-serif;
}

.recent-page {
  display: flex;
  justify-content: center;
  margin: auto
}

a {
    color: unset;
    text-decoration: none;
}
