:root {
    --main-border: 1px solid #98A0A6;
    --white: #ffffff;
    --gray: #98A0A6;
    --red:  #e63946;
    --black: #081621;
    --darkgray: #606060;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 800px;
}

a {
    color: unset;
    text-decoration: none;
}

.movie-column {
    grid-column: 1;
    position: relative;
}

.recipe-column {
    grid-column: 2;
    position: relative;
    font-size: 22px;
}

.main-heading {
    font-size: 30px;
    position: absolute;
    right: -58px;
    top: 15%;
}


